<div ng-controller="adminController">

<!--COMPANY LOGO-->
	<div class="row center animated fadeIn">
		<div class="col s12">
			<img class="responsive-img" src="public/images/educate.gif"/>
		</div>
	</div>
<!--MAIN HEADER-->
	<div class="row">
		<div class="col s2 blend">.</div>
		<div class="col s8 center animated fadeIn">
			<h4 class="center settingsHeader">
				<i class="fa fa-gear small"></i> Webinar Settings
			</h4>
			<p class="center"><a class="backLink" ui-sref="Add">ADD WEBINAR + </a></p>
		</div>
		<div class="col s2 blend">.</div>
	</div>
<!--ADMIN PANEL-->
	<div class="row">
		<div class="col l4 m2 s1 blend">.</div>
		<div class="col l4 m8 s10">
			<div 
				ng-repeat="webinar in allWebinars" 
				class="settingsSection z-depth-1">
				<p class="editSetting">
					<b>Title</b>: <span ng-model="title">{{webinar.instance.title}}</span>
				</p>
				<p class="editSetting">
					<b>Subtitle</b>: {{webinar.instance.subtitle}}
				</p>
				<p class="editSetting">
					<b>Description</b>: {{webinar.instance.description}}
				</p>
				<p class="editSetting">
					<b>Occurs once a week on</b>: {{webinar.instance.day}}
				</p>
				<p class="editSetting">
					<b>Time</b>: {{webinar.instance.time}} {{webinar.instance.ampm}}
				</p>
				<a ui-sref="Edit({id: webinar.instance._id})">(Edit)</a>
				<a class="pointer" ng-click="deleteWebinar(webinar.instance._id)">(Delete)</a>
			</div>
		</div>
		<div class="col l4 m2 s1 blend">.</div>
	</div>
<!--CLOSING DIV-->
</div>
<!--FOOTER-->
	<br>
	<p class="center"><a class="backLink" href="index.html">BACK TO WEBINARS</a></p>
	<p class="center">2015 Stamplay, All Rights Reserved</p>


