<div ng-controller="webinarsController">

<br>
<!--COMPANY LOGO-->
	<div class="row center animated fadeIn">
		<div class="col s12">
			<img class="responsive-img" src="public/images/educate.gif"/>
		</div>
	</div>
<!--MAIN HEADER-->
	<div class="row">
		<div class="col s12 center animated fadeIn">
			<h3>Sign up for the next live Stamplay webinar!</h3>
			<h5><em>Learn how to build apps in record time with Stamplay</em></h5>
		</div>
	</div>
	<br>
<!--WEBINARS-->
<div 
	ng-repeat="webinar in allWebinars" 
	class="container settingsSection z-depth-1">
	<h5 class="editSetting center">
		<span ng-model="title">{{webinar.instance.title}}
	</h5>
	<p class="editSetting">
		{{webinar.instance.description}}
	</p>
	<input
		ui-sref="Signup({id: webinar.instance._id})" 
		type="button" 
		class="signupBtn" 
		value="Signup">
</div>

<!--FOOTER-->
	<div class="center">
		<span 
			class="center backLink"> 
			<a class="backLink modal-trigger" ng-click="login()">Admin</a>
		</span>
	</div>
	<p class="center">2015 Stamplay, All Rights Reserved</p>
<!--CLOSING DIV-->
</div>


