html, body{
	background-color: #272D4E;
	font-family: "Roboto";
	color: #fff;
}
/*.hide{
	color: #272D4E;
}*/
.light{
	font-weight: lighter;
}
.webinarSelection{
	background-color: #fff;
	color: #000;
	padding: 10px;
	border-radius: 4px;
	border:7px double #272D4E;
	width: 100%;
}
.signupBtn{
	background-color: #888DA4;
	color: #fff;
	width: 100%;
}